    /* Fonts*/
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    /* Variables */
    
     :root {
        --main-color: #800080;
        --blue: #0000ff;
        --orange: #ffa500;
        --green-yellow: #cddc39;
        --grey-light: #aeaebd;
        --purple-light: #9F9FED;
        --white: #ffffff;
        --white-alpha-40: rgba(255, 255, 255, 0.40);
        --white-alpha-25: rgba(255, 255, 255, 0.25);
        --webkit-backdrop-filter: blur(5px);
    }
    /* Global Settings */
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        outline: none;
    }
    
     ::before,
     ::after {
        box-sizing: border-box;
    }
    
    body {
        min-height: 100vh;
        background-image: linear-gradient(to bottom right, var(--grey-light), var(--purple-light));
        background-attachment: fixed;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: var(--main-color);
        line-height: 1.5;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
        padding: 35px 15px;
    }
    
    body.hide-scrolling {
        overflow-y: hidden;
    }
    
    body::before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--green-yellow);
        z-index: -1;
        opacity: 0.12;
    }
    
    hr {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 2px solid var(--main-color);
    }
    
    a {
        text-decoration: none;
    }
    
    h1,
    h2 {
        font-weight: 600;
    }
    
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }
    
    img {
        max-width: 100%;
        vertical-align: middle;
    }
    
    ul {
        list-style: none;
    }
    
    form {
        margin: 50px;
    }
    
    input,
    textarea {
        display: block;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        padding: 10px 28px;
        border-radius: 3px;
        color: var(--main-color);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    
    section {
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        min-height: calc(100vh - 70px);
        border-radius: 30px;
        backdrop-filter: var(--webkit-backdrop-filter);
        display: none;
    }
    
    section.active {
        display: block;
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    
    section.fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    
    .main {
        max-width: 1200px;
        margin: auto;
        position: relative;
        transition: all 0.5s ease-in-out;
    }
    
    .main.fade-out {
        opacity: 0;
    }
    
    .container {
        padding: 0 40px;
        width: 100%;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .align-items-center {
        align-items: center;
    }
    
    .justify-content-center {
        justify-content: center;
    }
    
    .hidden {
        display: none !important;
    }
    
    .p-section {
        padding: 80px 0;
    }
    
    .flex-end {
        justify-content: flex-end;
    }
    /* Section Title */
    
    .content-title {
        padding: 0 15px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .content-title h2 {
        font-size: 40px;
        text-transform: capitalize;
    }
    /* Custom Scrollbar */
    
     ::-webkit-scrollbar {
        width: 5px;
    }
    
     ::-webkit-scrollbar-track {
        background-color: var(--white);
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }
    /* Buttons */
    
    button {
        font-family: inherit;
        user-select: none;
    }
    
    .btn {
        line-height: 1;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        padding: 10px 28px;
        display: inline-block;
        border-radius: 30px;
        color: var(--main-color);
        font-weight: 500;
        text-transform: capitalize;
        font-family: inherit;
        font-size: 16px;
        cursor: pointer;
        user-select: none;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        transition: color 0.3s ease;
    }
    
    .btn::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        background-color: var(--main-color);
        z-index: -1;
        transition: width 0.3s ease;
    }
    
    .btn:hover::before {
        width: 100%;
    }
    
    .btn:hover {
        color: var(--white);
    }
    /* Animation Section */
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes zoomInOut {
        0%,
        100% {
            transform: scale(0.5);
        }
        50% {
            transform: scale(1);
        }
    }
    
    @keyframes bounceTop {
        0%,
        100% {
            transform: translateY(-50px);
        }
        50% {
            transform: translateY(0px);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* BG Section */
    
    .circles {
        position: fixed;
        top: 0;
        height: 100%;
        max-width: 1200px;
        width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .circles div {
        position: absolute;
        border-radius: 50%;
    }
    
    .circles .circle-1 {
        height: 500px;
        width: 500px;
        background-color: var(--blue);
        left: -20%;
        top: -20%;
        opacity: 0.3;
    }
    
    .circles .circle-2 {
        height: 180px;
        width: 180px;
        background-color: var(--main-color);
        left: 30%;
        top: 50%;
        opacity: 0.4;
        animation: bounceTop 5s ease-in-out infinite;
    }
    
    .circles .circle-3 {
        height: 550px;
        width: 550px;
        background-color: var(--white);
        right: -160px;
        top: 60%;
        opacity: 0.6;
    }
    
    .circles .circle-4 {
        height: 100px;
        width: 100px;
        background-color: var(--orange);
        top: 80%;
        left: -30px;
        opacity: 0.6;
        animation: zoomInOut 8s linear infinite;
    }
    
    .star {
        position: relative;
        margin: 1em auto;
        width: 1em;
        font-size: 1em;
        transform: rotate(35deg);
        animation: zoomInOut 8s linear infinite;
        opacity: 0.5;
    }
    
    .star:before {
        content: "";
        position: absolute;
        background: white;
        width: 1em;
        height: 1.15em;
        transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
    }
    
    .star:after {
        content: "";
        position: absolute;
        background: white;
        width: 1em;
        height: 1.15em;
        transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
    }
    /* Overlay Section */
    
    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        z-index: 200;
        visibility: hidden;
    }
    
    .overlay.active {
        visibility: visible;
    }
    /* PG Section */
    
    .load {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        background-color: var(--white-alpha-25);
        backdrop-filter: var(--webkit-backdrop-filter);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.6s ease;
    }
    
    .load .fade-out {
        opacity: 0;
    }
    
    .load div {
        border: 2px solid transparent;
        position: absolute;
        border-radius: 50%;
        opacity: 0.6;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        animation: spin 1s linear infinite;
    }
    
    .load div:nth-child(1) {
        height: 60px;
        width: 60px;
        border-color: var(--main-color);
    }
    
    .load div:nth-child(2) {
        height: 45px;
        width: 45px;
        border-color: var(--blue);
        animation-duration: 1.2s;
    }
    
    .load div:nth-child(3) {
        height: 30px;
        width: 30px;
        border-color: var(--orange);
    }
    /* Header Section */
    
    .header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 20px 0 0;
    }
    
    .header.active {
        position: fixed;
        top: 35px;
        padding: 20px 15px;
    }
    
    .header.active .container {
        max-width: 1200px;
        margin: auto;
    }
    
    .header .nav-toggler {
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        z-index: 1;
        transition: opacity 0.5s ease-in-out;
    }
    
    .header .nav-toggler.hide {
        opacity: 0;
        transition: none;
    }
    
    .header .nav-toggler span {
        height: 2px;
        width: 24px;
        background-color: var(--main-color);
        position: relative;
        transition: background-color 0.3s ease;
    }
    
    .header.active .nav-toggler span {
        background-color: transparent;
    }
    
    .header .nav-toggler span::before,
    .header .nav-toggler span::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transition: all 0.3s ease;
    }
    
    .header .nav-toggler span::before {
        left: 0;
        transform: translateY(-8px);
    }
    
    .header.active .nav-toggler span::before {
        transform: rotate(45deg);
    }
    
    .header .nav-toggler span::after {
        right: 0;
        transform: translateY(8px);
    }
    
    .header.active .nav-toggler span::after {
        transform: rotate(-45deg);
    }
    
    .header:not(.active) .nav-toggler:hover span::before,
    .header:not(.active) .nav-toggler:hover span::after {
        width: 50%;
    }
    
    .header .nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 35px 15px;
        overflow-y: auto;
        visibility: hidden;
    }
    
    .header.active .nav {
        visibility: visible;
    }
    
    .header .nav-inner {
        min-height: calc(100vh - 10vh);
        max-width: 1200px;
        margin: auto;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        backdrop-filter: var(--webkit-backdrop-filter);
        padding: 50px 0;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s ease;
    }
    
    .header.active .nav-inner {
        opacity: 1;
    }
    
    .header .nav-inner ul li {
        text-align: center;
    }
    
    .header .nav-inner ul li a {
        font-size: 40px;
        text-transform: capitalize;
        color: var(--main-color);
        display: block;
        font-weight: 500;
        padding: 8px 15px;
        transition: color 0.3s ease;
        position: relative;
    }
    
    .header .nav-inner ul li a::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 50%;
        width: 100%;
        background-color: var(--white-alpha-25);
        z-index: -1;
        transition: width 0.5s ease;
    }
    
    .header .nav-inner ul li a:hover::before {
        width: 100%;
    }
    
    .header .nav-inner ul li a:hover {
        color: var(--main-color);
        transition: width 0.5s ease;
    }
    /* Home Section */
    
    .home-section {
        padding: 120px 0;
    }
    
    .home-section.active {
        display: flex;
    }
    
    .home-text,
    .home.img {
        width: 50%;
        padding: 15px;
    }
    
    .home-text p {
        font-size: 18px;
    }
    
    .home-text h1 {
        font-size: 50px;
        text-transform: capitalize;
    }
    
    .home-text h2 {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 300;
        margin: 0 0 30px;
    }
    
    .home-text .btn {
        margin: 0 15px 15px 0;
    }
    
    .profile-img .img-cont {
        /* max-width: 360px; */
        width: 300px;
        height: 300px;
        background-color: var(--white-alpha-25);
        border-radius: 50%;
        border: 8px solid var(--white-alpha-25);
        margin: auto;
    }
    
    .profile-img .img-cont img {
        object-fit: contain;
        height: 284px;
        width: 300px;
        /* width: 100%; */
        border-radius: 50%;
    }
    /* About Section */
    
    .about-img {
        width: 40%;
        padding: 0 15px;
    }
    
    .about-text {
        width: 60%;
        padding: 0 15px;
    }
    
    .about-img .img-cont {
        background-color: var(--white-alpha-25);
        max-width: 380px;
        border: 1px solid var(--white-alpha-40);
        margin: auto;
        border-radius: 10px;
    }
    
    .about-img .img-cont img {
        width: 100%;
    }
    
    .about-text h3 {
        text-transform: capitalize;
        font-size: 20px;
        margin: 20px 0;
    }
    
    .about-text .skills {
        display: flex;
        flex-wrap: wrap;
    }
    
    .about-text .skill {
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        padding: 5px 15px;
        text-transform: capitalize;
        margin: 0 10px 10px 0;
        border-radius: 20px;
    }
    
    .about-tabs {
        margin-top: 20px;
    }
    
    .about-tabs .tab-item {
        padding: 2px 0;
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        display: inline-block;
        color: var(--main-color);
        font-size: 20px;
        cursor: pointer;
        font-weight: 500;
        margin: 0 30px 0 0;
        position: relative;
        opacity: 0.5;
        transition: all 0.3s ease;
    }
    
    .about-tabs .tab-item:last-child {
        margin: 0;
    }
    
    .about-tabs .tab-item::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: var(--main-color);
        transition: width 0.3s ease;
    }
    
    .about-tabs .tab-item:hover::before {
        width: 100%;
    }
    
    .about-tabs .tab-item.active::before {
        width: 100%;
        background-color: var(--main-color);
    }
    
    .about-tabs .tab-item.active {
        color: var(--main-color);
        opacity: 1;
        cursor: auto;
    }
    
    .about-text .timeline {
        position: relative;
    }
    
    .about-text .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 5px;
        background-color: var(--main-color);
    }
    
    .about-text .tab-content {
        padding: 40px 0;
        display: none;
    }
    
    .about-text .tab-content.active {
        display: block;
    }
    
    .about-text .timeline-item {
        margin-bottom: 30px;
        position: relative;
        padding: 10px 0 0 40px;
    }
    
    .about-text .timeline-item::before {
        content: '';
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: var(--main-color);
        left: 0;
        top: 16px;
        border-radius: 50%;
    }
    
    .about-text .timeline-item:last-child {
        margin-bottom: 0;
    }
    
    .about-text .timeline-item .date {
        display: block;
        color: var(--main-color);
        font-weight: 400;
        margin: 0 0 10px;
    }
    
    .about-text .timeline-item h4 {
        font-size: 18px;
        text-transform: capitalize;
        margin: 0 0 10px;
    }
    
    .about-text .timeline-item h4 span {
        font-weight: 400;
    }
    
    .about-text .btn {
        margin: 0 15px 15px 0;
    }
    /* Portfolio Section */
    
    .portfolio-section {
        padding-bottom: 50px;
    }
    
    .project-item {
        width: calc((100% / 3) - 30px);
        margin: 0 15px 30px;
    }
    
    .project-item-thumbnail {
        padding: 10px;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        border-radius: 10px;
        height: 210px;
        width: 350px;
    }
    
    .project-item-thumbnail img {
        width: 100%;
        border-radius: 10px;
        height: -webkit-fill-available;
    }
    
    #img-project2 {
        object-fit: contain;
    }
    
    .project-item h3 {
        font-size: 20px;
        text-transform: capitalize;
        margin: 20px 0;
    }
    
    .project-details {
        display: none;
    }
    /* Portfolio Popup */
    
    .portfolio-popup {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 200;
        visibility: hidden;
        overflow-y: auto;
    }
    
    .portfolio-popup.open {
        visibility: visible;
        overflow-y: auto;
    }
    
    .popup-inner {
        min-height: 100vh;
        padding: 40px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .popup-content {
        background-color: var(--white-alpha-25);
        padding: 30px;
        border-radius: 30px;
        max-width: 900px;
        width: 100%;
        border: 1px solid var(--white-alpha-40);
        backdrop-filter: var(--webkit-backdrop-filter);
        opacity: 0;
        transform: scale(0.9);
    }
    
    .portfolio-popup.open .popup-content {
        opacity: 1;
        transform: scale(1);
        transition: all 0.5s ease;
    }
    
    .popup-header {
        position: relative;
    }
    
    .popup-header .btn {
        height: 40px;
        width: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -40px;
        top: -40px;
    }
    
    .pp-thumbnail img {
        border-radius: 10px;
    }
    
    .popup-header {
        font-size: 25px;
        text-transform: capitalize;
        margin: 20px 0 15px;
    }
    
    .popup-body .description {
        margin-bottom: 20px;
    }
    
    .popup-body .project-info li {
        margin-bottom: 10px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .popup-body .project-infoli span {
        font-weight: 300;
    }
    
    .popup-body .project-info li a {
        text-decoration: underline;
        color: var(--main-color);
    }
    /* Contact Section */
    
    .contact-info {
        width: 100%;
        text-align: center;
        padding: 0 15px;
    }
    
    .contact-info-item {
        margin: 0 0 30px;
        padding: 0 0 0 20px;
    }
    
    .contact-info-item h3 {
        font-size: 20px;
        text-transform: capitalize;
        margin: 0 0 5px;
    }
    
    .contact-info-item .social-links a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: var(--white-alpha-25);
        border: 1px solid var(--white-alpha-40);
        color: var(--main-color);
        border-radius: 50%;
        margin: 6px 4px 0 0;
        transition: all 0.3s ease;
    }
    
    .contact-info-item .social-links a:hover {
        color: var(--white);
        background-color: var(--main-color);
    }
    /* Responsive */
    
    @media(max-width:991px) {
        .container {
            padding: 0;
        }
        .home-text,
        .profile-img {
            width: 100%;
        }
        .home-text {
            text-align: center;
        }
        .profile-img {
            order: -1;
        }
        .profile-img .img-cont {
            max-width: 300px;
        }
        .home-text .btn {
            margin: 0 7px 15px;
        }
        .project-item {
            width: calc(50% - 30px);
        }
    }
    
    @media(max-width:767px) {
        .contact-info,
        .about-img,
        .about-text {
            width: 100%;
        }
        .about-text {
            margin-top: 30px;
        }
        .project-item {
            width: calc(100% - 30px);
        }
        .popup-inner {
            padding: 30px 15px;
        }
        .contact-info {
            order: -1;
            margin-bottom: 15px;
        }
        .contact-info-item {
            padding: 0;
        }
    }
    
    @media(max-width:575px) {
        .content-title h2,
        .header .nav-inner ul li a {
            font-size: 35px;
        }
        .home-text h1 {
            font-size: 30px;
        }
        .home-text h2 {
            font-size: 18px;
        }
        .popup-header h3 {
            font-size: 20px;
        }
    }